.popup {
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   min-height: 100vh;
   z-index: 50;
   overflow-y: auto;
   transition: 0.3s;
   backdrop-filter: blur(12px);
   background: rgba(21, 22, 22, 0.32);
}
.popup-body {
   padding-top: 20px;
   max-width: 90%;
   height: 100vh;
   min-height: 100vh;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   transition: 0.3s;
   background: #fff;
   position: relative;
   left: 10%;
}
